.graph, .two-graphs, .custom-tabs-container
  background-color $containerBackgroundColor
  padding 2rem 4rem
  margin 0 -4rem

  & > *:first-child
    margin-top 0



.toolbar
  background-color $containerBackgroundColor
  margin-top 3.2rem
  margin-left -4rem
  margin-right -4rem
  padding 1.6rem 4rem

  & form
    margin-top -1.6rem

@media (max-width: 800px)
  .custom-tabs-container
    flex-direction row !important
    overflow-x auto

@media (max-width: 960px)
  .graph, .two-graphs, .custom-tabs-container
    margin 0 -2rem 0 -2rem

  .custom-tabs-container
  padding 0

  .toolbar
    margin-left -2rem
    margin-right -2rem
    padding-left 2rem
    padding-right 2rem

.graph
  h4
    margin-top 0
    font-family $secondaryFont
    color $graphTitleTextColor
    font-size 2rem

.two-graphs
  margin 0 -4rem !important
  padding 0 4rem 1rem 4rem

  .graph
    margin 0
    padding 0

