.graph
    background-color $graphBackgroundColor
    padding 0 4rem 1rem 4rem
    margin 0 -4rem
    h4
        margin-top 0
        padding-top 4rem
        font-family $secondaryFont
        color $graphTitleTextColor
        font-size 2rem

.two-graphs
    background-color $graphBackgroundColor
    margin 0 -4rem !important
    padding 0 4rem 1rem 4rem
    .graph
        margin 0
        padding 0
