.logo-HEVA-container
    padding-left 4rem

.logo_heva
    float right
    max-width 120px
    width 100%

.logo-client-container
    margin-top auto
    margin-bottom 4rem
    max-width 200px
    align-self flex-end
    padding-left 4rem

.logo-client
    width 100%
    margin-top auto
