.modebar-group
    background transparent !important

.modebar-btn
    &.active
        svg path
            fill $modebarFillActiveColor !important
        &:hover
            svg path
                fill $modebarFillActiveHoverColor !important
    &:hover
        svg path
            fill $modebarFillHoverColor !important

    svg path
        fill $modebarFillColor !important
