.nav
  font-family $secondaryFont
  font-weight 700
  text-align left
  font-size 1.4rem
  line-height 1.6rem

  .nav-item
    list-style-type none
    margin-bottom 1rem
    text-decoration none
    font-size 1.4rem
    line-height 2rem

    &.nav-item-focus a
      color $navItemHoverColor

    a
      padding .4rem 0
      color $linkTextColor

    a:focus, a:hover
      text-decoration none
      color $navItemHoverColor
      transition ease .2s



