.plotly-notifier
  background-color $notifierBackgroundColor

.notifier-note
  background-color $notifierBackgroundColor !important
  border solid $notifierBorderColor 3px !important

  p
    color $notifierTextColor
    font-family $primaryFont

  .notifier-close
    color $notifierCloseTextColor
