#main-sidebar
  display flex
  flex-direction column
  justify-content flex-start
  align-content flex-start
  height 100vh
  position sticky
  top 0
  margin -3.2rem 0
  padding 3.2rem 0

  .sidebar-logo
    max-width 10rem

  .logo-client
    justify-self flex-end
    align-self flex-start

  #navbar-menu
    flex-grow 1
    margin 3.2rem 0
    padding-right 2rem
    overflow-x hidden
    overflow-y auto

@media (max-width: 960px)
  #main-sidebar
    display flex
    flex-direction row
    justify-content space-between
    align-content flex-start
    height 100%
    padding 2rem
    position relative
    margin 0

    #navbar-menu
      margin 0 4rem
      flex-grow 1

