.sidebar
  background-color $bodyBackgroundColor
  display flex
  flex-direction column

  section
    flex-direction column

  ul
    flex-direction column
    margin-right 3rem

  .navbar
    display flex
    position sticky
    top 3.2rem
    flex-direction column

    .nav-links
      margin-top 2rem

.sidebar-logo
  max-width 100px
  align-self flex-start
  margin-right 2rem

.logo-client
  position fixed
  bottom 4rem
  align-self flex-start


@media (max-width: 960px)
  .sidebar
    flex-direction row
    align-items center

    .navbar
      top 0
      position relative
      flex-direction row
      align-items start
      width 100%
      justify-content space-between
      flex-wrap nowrap
      margin 2rem 2rem 0 2rem

      .navbar-section
        flex-grow 0

        .nav
          text-align center

      .nav-links
        margin-top 0
        flex-grow 5
        ul
          margin auto

      .logo-client
        position relative
        bottom inherit
        align-self inherit

  .sidebar-logo
    margin 0
