.sidebar
    display flex
    flex-direction column
    position fixed
    top 4rem
    bottom 0
    margin-left -5rem
    display flex
    flex-direction column
    ul
        li
            &::before
                color transparent
                margin-left 0
