.rc-slider
    margin 10px 0
    .rc-slider-track
        background-color $sliderBackgroundColor
    .rc-slider-dot-active, .rc-slider-handle, .rc-slider-handle:hover
        border-color $sliderBorderColor
    .rc-slider-mark-text
        color $sliderTextColor
    .rc-slider-mark-text-active
        color $sliderTextColoractive
    .rc-slider-rail
        background-color $sliderRailBackground
