#page-content

  .dash-spreadsheet-menu div
    margin-left auto

    button
      height 3.2rem
      border 1px solid $borderColor
      border-radius: 8px
      background-color $whitePurple
      color $inkTextColor
      font-size 1.2rem
      font-weight bold
      letter-spacing 0
      line-height 3rem
      margin-right 0
      cursor pointer
      &:hover
        color $primaryColor
        background-color $buttonBackgroundHoverColor
        border-color blend(rgba($buttonBorderEnabledColor, 0.5))


  table
    font-family $primaryFont
    font-size 1.6rem
    letter-spacing 0
    line-height 2.4rem

    tr
      background-color $tableBackgroundColor

      &:hover td
        background-color $rowBackgroundHoverColor !important

    th
      font-weight 700
      border none !important
      padding 0.4rem
      background-color $white
      line-height 3.2rem

      div
        background-color $headerBackgroundColor
        border-radius 4px
        padding 0 1.2rem
        display flex
        flex-direction row-reverse
        justify-content space-between

        span.column-header-name
          box-sizing border-box
          flex-wrap wrap
          text-overflow ellipsis
          overflow hidden
          white-space nowrap

        span.column-header--sort
          margin-left 0.5rem

         svg.svg-inline--fa
           path
            fill $sortIconColor !important

           &[data-icon^="sort-"], &:hover
             path
              fill $sortIconActiveColor !important

    td
      border-top none !important
      border-left none !important
      border-right none !important
      padding 0 0.4rem

  .previous-next-container
    font-family $primaryFont
    font-weight bold
    font-size 1.2rem

    button
      width 3.2rem
      height 3.2rem
      margin 0.25rem

    .page-number
      margin-left 1.35rem
      margin-right 1.35rem
      *
        margin 0

    .first-page, .previous-page, .next-page, .last-page
      &:enabled
        svg path
          fill $sortIconColor !important
      &:enabled:hover svg path
        fill $sortIconActiveColor !important

      &:disabled svg path
        fill $disabledTextColor !important
