#page-content

  .custom-tabs-container
    padding 0 4rem

  .tab-container
    margin-top 1.6rem
    min-height 5.6rem
    background-color $containerBackgroundColor
    display flex
    justify-content space-between

    .tab
      display flex
      flex-direction row
      margin 0
      background-color transparent
      width 100%
      border none
      border-bottom solid $tableBorderColor 1px
      min-height 3.2rem
      box-sizing content-box


      span
        margin auto
        font-size 1.4rem
        color $tabsTextColor
        font-weight 700
        line-height 1.6rem
        letter-spacing 0

      &.tab--selected
        border-bottom-color $tabsSelectedBorderColor

        span
          color $tabsSelectedColor

      &:hover span
        color $tabsHoverTextColor

      &.tab--disabled
        span
          color $disabledTextColor
