button
  border 1px $buttonBorderColor solid
  border-radius 4px
  font-size 1.4rem
  font-weight 700
  letter-spacing 0
  line-height 1.6rem
  margin 0.8rem
  outline none
  white-space nowrap
  display inline-block

  &.default-button
    color $buttonTextColor
    background-color: $white

    &:disabled, &[disabled=disabled]
      border-color $buttonDisabledColor
      color $disabledTextColor

    &:hover:enabled, &:focus:enabled
      color $primaryColor
      background-color rgba($buttonBackgroundColor, 0.05)

    &:active:enabled
      color $primaryColor
      background-color rgba($buttonBackgroundColor, 0.15)

  &.secondary-button
    color $white
    background-color: $buttonBackgroundColor
    border-color rgba(0, 0, 0, 0)

    &:disabled
      background-color $buttonDisabledSecondaryColor
      color $disabledTextColor

    &:hover:enabled, &:focus:enabled
      background-color $buttonBackgroundHoverColor

    &:active:enabled
      background-color $buttonBackgroundActiveColor

  &.button-large
    border-radius 1000px
    padding-left 1.6rem
    padding-right 1.6rem
    height 4.6rem


  &.button-medium
    padding-left 1.2rem
    padding-right 1.2rem
    height 4rem

  &.button-small
    padding-left .8rem
    padding-right .8rem
    height 3.2rem
    font-size 1.2rem
