body
    background-color $bodyBackgroundColor
    margin 4rem 4rem 2rem 4rem
    ::-moz-selection, :selection
        background $bodyBackgroundColor

footer
    height 0

.footer
    text-align center
    color $footerTextColor
    height 2rem
    *
        margin-right: 1em
    a
        color $footerTextColor


hr
    background-color $whitePurple
    border-width 0
    height 2px
    width 100%
    margin 2rem auto

code
    color $codeTextColor
    background $codeBackgroundColor
    border-radius 3px

table
    margin auto
    border-collapse collapse
    border-spacing 0
    width 100%
