body
    background-color $bodyBackgroundColor
    margin 4rem 4rem 2rem 4rem
    ::-moz-selection, :selection
        background $bodyBackgroundColor

footer
    height 0

.footer
    text-align center
    color $footerTextColor
    height 2rem
    *
        margin-right: 1em
    a
        color $footerTextColor

blockquote
    background-color $blockquoteBackgroundColor
    padding 1.6rem 2rem
    border-left 4px solid $blockquoteBorderLeftColor
    p
        font-size 1.6rem
        font-style italic
        color $blockquotePagragraphBackgroundColor
        margin-top 0

hr
    background-color $hrBackgroundColor
    border-width 0
    height 2px
    width 50%
    margin 2rem auto

code
    color $codeTextColor
    background $codeBackgroundColor
    border-radius 3px

table
    margin auto
