input[type="checkbox"],
input[type="radio"]
  display inline

label
  margin-right 16px !important

  & > .label-body
    display inline-block
    margin-left .5rem
    font-weight normal

.form-label
  text-align right
  margin 20px

.Select-control, input, textarea
  border-width 1px
  border-style solid
  border-color $borderColor
  line-height 16px
  //padding-top 8px !important
  border-radius 4px
  margin-right 8px
  margin-bottom 8px
  color $inkTextColor

.Select-value
  background-color $greyPurple !important
  color $whitePurple !important
  border-color $whitePurple !important

.Select-control
  padding 0

.VirtualizedSelectFocusedOption
  background-color rgba($linkTextColor, 0.08)
