@media print
  .sidebar, footer, .dash-debug-menu
    display none

  #page-content
    width 100%

    .columns
      display block

  img, svg
    display block
    max-width 100%

  .graph
    max-width 100%
    break-inside avoid

  .modebar-container
    display none
