html
  font-size 62.5%

body
  font-family $primaryFont
  font-size 1.6em
  line-height 1.6
  font-weight 400

  ::-moz-selection, :selection
    color $white

h1, h2, h3, h4, h5, h6
  font-weight 700
  line-height 1.2
  font-family $secondaryFont
  color $inkTextColor
  margin-bottom 0

h3, h4, h5, h6
  margin-top 3.2rem

h4, h6
  color $secondaryTextColor

h1
  font-size 3.2rem
  color $primaryColor

h2
  font-size 1.8rem

h3
  font-size 2.6rem

h4
  font-size 2rem

h5
  font-size 1.6rem

h6
  font-size 1.6rem

a
  color $linkTextColor
  font-weight 400
  text-decoration underline
  cursor pointer

  &:focus
    box-shadow none

  &:visited
    color $linkTextColor

  &:hover
    color $primaryColor

p
  font-size 1.6rem
  line-height 1.6
  margin-top 0.8rem
  margin-bottom 0
  color $inkTextColor
  text-align justify

em
  font-weight 700
  font-style inherit

strong
  font-weight 700
  color $primaryColor
  font-style inherit

#page-content

  ul, ol
    margin-left 1rem
    list-style-position inside

    ol, ul
      margin-top 0
      margin-bottom 0

    li
      margin-top 0

    ol
      list-style-type decimal

    ul
      list-style none

      li::before
        content "-"
        display inline-block
        width 1em


.intro, .conclusion, blockquote
  margin 3.2rem 0 3rem 0
  width 75%
  border-left-width 4px
  border-left-style solid
  text-align justify
  padding-left 2.8rem
  color $blockquotePagragraphBackgroundColor

  p
    padding 0
    margin 0

.intro
  margin-top 5rem
  border-left-color $introBorderLeftColor
  font-style italic
  font-size 2rem
  line-height 1.4
  color $introTextColor

.conclusion
  border-left-color $conclusionBorderLeftColor
  font-size 1.8rem
  font-weight 700
  line-height 1.6

blockquote
  border-left-color $blockquoteBorderLeftColor
  font-size 1.6rem
  font-style italic
  line-height 1.6

