html {
    font-size: 62.5%;
}

body {
    background-color: #2B1D46;
    font-family: "SF", "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.6em;
    line-height: 1.6;
    font-weight: 400;
    margin: 4rem 4rem 2rem 4rem;
}

body ::-moz-selection {
    color: #fff;
    background: #9491AD;
}

body ::selection {
    color: #fff;
    background: #9491AD;
}

#page-content {
    background-color: #fff;
    padding: 4rem 4rem 0 4rem;
}

footer {
    height: 0;
}

.footer {
    text-align: center;
    color: #aeaeae;
    height: 2rem;
}

#tabs {
    box-shadow: inset 0px -8px 8px rgba(0, 0, 0, 0.05);
    background-color: #F4F2F7;
    border-bottom: solid 1px #fff;
    padding: 0 4rem;
    margin: 0 -4rem;
}

.text {
    padding: 0 0 2rem 0;
}

.graph {
    background-color: #f9f9fb;
    padding: 0 4rem;
    margin: 0 -4rem;
}

code {
    color: #9491AD;
    background: #F4F2F7;
}

.graph h4 {
    margin-top: 0;
    padding-top: 4rem;
    padding-left: 2rem;
    font-family: Montserrat, sans-serif;
    color: #5E5A85;
    font-size: 2rem;
}

.tools {
    background-color: #f9f9fb;
    box-shadow: inset 0px -8px 8px rgba(0, 0, 0, 0.05);
    padding: 2rem 4rem;
    margin: 0 -4rem;
    border-bottom: solid 1px #fff;
}

.modebar-group {
    background: transparent !important;
}

.modebar-btn.active svg path {
    fill: #FC5B26 !important;
}

.modebar-btn.active:hover svg path {
    fill: #FF7240 !important;
}

.modebar-btn svg path {
    fill: #2B1D46 !important;
}

.modebar-btn:hover svg path {
    fill: #5E5A85 !important;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: 1.3;
    font-family: "Montserrat", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #2B1D46;
}

h1 {
    font-size: 3.2rem;
    color: #FC5B26;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    width: 66%;
    font-size: 2.8rem;
    margin-top: 6rem;
}

h4 {
    font-size: 2.0rem;
    margin-bottom: 1.2rem;
    margin-top: 4rem;
}

h5 {
    font-size: 1.8rem;
    margin-bottom: 1.2rem;
    margin-top: 6rem;
}

h6 {
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
    margin-top: 6rem;
    color: #FC5B26;
}

p {
    font-size: 1.6rem;
    line-height: 1.6;
    margin-top: 1.6rem;
    margin-bottom: 0;
    color: #2B1D46;
    text-align: justify;
}

em {
    font-weight: 700;
    font-style: inherit;
}

strong {
    font-weight: 700;
    color: #FC5B26;
    font-style: inherit;
}

hr {
    border-top: 0.05rem solid #fefefe;
    height: 0.05rem;
    margin: 1rem 0;
}

.intro {
    width: 66%;
    font-style: italic;
    font-size: 2.0rem;
    line-height: 1.4;
    margin: 3rem 0;
    color: #5E5A85;
    text-align: justify;
    border-left: 4px solid #C9C8D6;
    padding-left: 16px;
}

.conclusion {
    width: 66%;
    text-align: justify;
    border-left: 4px solid #FC5B26;
    padding-left: 16px;
    margin-bottom: 2rem;
}

.conclusion p {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.6;
}

a {
    color: #5F5A85;
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
}

a:focus {
    box-shadow: none;
}

a:visited {
    color: #5F5A85;
}

a:hover {
    color: #FC5B26;
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */

ol,
ul,
li {
    padding-left: 0;
    margin-top: -0rem;
    margin-bottom: 0rem;
    list-style: inside;
    font-size: 1.6rem;
    line-height: 1.3;
    color: #2B1D46;
}

li {
    list-style: none;
}

ul li::before {
    content: "\2022";
    color: #FC5B26;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin: 0 0 1.5rem 3rem;
    font-size: 80%;
}

blockquote {
    background-color: rgba(244, 244, 247, 0.5);
    padding: 1.6rem 2rem;
    border-left: 4px solid #C9C8D6;
}

blockquote p {
    font-size: 1.6rem;
    font-style: italic;
    color: #9491AD;
    margin-top: 0;
}

/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 4rem;
    bottom: 0;
    margin-left: -5rem;
}

.sidebar ul li::before {
    color: transparent;
    margin-left: 0;
}

.nav {
    font-family: "Montserrat", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-align: right;
    font-size: 1.4rem;
    line-height: 1.3rem;
    margin-top: 6rem;

}

.logo-HEVA-container {
    padding-left: 4rem;
}

.logo_heva {
    float: right;
    max-width: 120px;
    width: 100%;
}

.logo-client-container {
    margin-top: auto;
    margin-bottom: 4rem;
    max-width: 200px;
    align-self: flex-end;
    padding-left: 4rem;
}

.logo-client {
    width: 100%;
}

.nav-item {
    list-style-type: none;
    margin-bottom: 2rem;
    text-decoration: none;
    font-size: 1.6rem;
}

.nav .nav-item:hover, .nav .nav-item:focus {
    text-decoration: none;
    color: #fff;
    transition: ease .2s;
}

.bg-paper {
    background: #f4f2f7 !important;
}

.tab {
    margin: 0;
}

#page-content .custom-tab {
    display: flex;
    display: -ms-flexbox;
    -ms-flex-align: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-family: "Montserrat", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
    color: #5E5A85;
    padding: 1.6rem;
    align-items: center;
    justify-content: center;
    border-bottom: solid 4px transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
}

#page-content .custom-tab:focus,
#page-content .custom-tab:hover {
    color: #2B1D46;
}

#page-content .custom-tab--selected {
    border-color: #fc5b26;
    color: #fc5b26;
}

.sidebar {
    display: flex;
    flex-direction: column;
}

.logo-client {
    margin-top: auto;
}

table {
    margin: auto;
}

.embed-img {
    border: solid #B7A8C7 1px;
    max-width: 500px;
    margin: auto;
    width: 100%;
}

.plotly-notifier {
    background-color: #2B1D46;
}

.notifier-note {
    background-color: #2B1D46 !important;
    border: solid #fc5b26 3px !important;
}

.notifier-note p {
    color: #fff;
    font-family: "SF", "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.notifier-note .notifier-close {
    color: #FC5B26;
}

.rc-slider {
    margin: 10px 0;
}

.rc-slider-track {
    background-color: #FC5B26;
}

.rc-slider-dot-active, .rc-slider-handle, .rc-slider-handle:hover {
    border-color: #FC5B26;
}


.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    margin: 5px 0;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline;
}

label > .label-body {
    display: inline-block;
    margin-left: .5rem;
    font-weight: normal;
}

.two-graphs {
    background-color: #f9f9fb;
    margin: 0 -4rem !important;
    padding: 0 4rem;
}
