// Global colors
$orange = #fc5b26
$lightOrange = #FF7240
$purple = #2B1D46
$lightPurple = #3b3558
$greyPurple = #5d5a85
$purpleGrey = #9491ad
$blueGrey = #c9c8d6
$whitePurple = #f4f4f7
$white = #FFFFFF
$SickGreen = #a9c944

// Theme colors
$primaryColor = $orange
$secondaryColor = $purple

// Body colors
$bodyBackgroundColor = $secondaryColor
$bodySelectionBackgroundColor = $greyPurplePurple
$contentBackgroundColor = $white

// Texts colors
$inkTextColor = $purple
$secondaryTextColor = $greyPurple

// Action colors
$linkTextColor = $lightPurple
$actionColor = $lightOrange

// Intro & Quote & conslusion colors
$introBorderLeftColor = $blueGrey
$blockquoteBorderLeftColor = $blueGrey
$conclusionBorderLeftColor = $primaryColor

// Tools & tabs colors container
$toolsBorderBottomColor = $white
$toolsBoxShadowColor = rgba($purple, 0.05)

// Tabs colors
$tabsTextColor = $lightPurple
$tabsHoverTextColor = $secondaryColor
$tabsBoxShadowColor = rgba($purple, 0.05)
$tabsSelectedBorderColor = $primaryColor
$tabsSelectedColor = $primaryColor



// Footer colors
$footerTextColor = $blueGrey

// Blockquote colors
$blockquoteBackgroundColor = rgba($whitePurple, .5)
$blockquotePagragraphBackgroundColor = $greyPurplePurple

// Code colors
$codeTextColor = $greyPurplePurple
$codeBackgroundColor = $whitePurple

// Button colors
$buttonBorderColor = $greyPurple
$buttonTextColor = $lightPurple

// Modebar colors
$modebarFillColor = $secondaryColor
$modebarFillHoverColor = $lightPurple
$modebarFillActiveColor = $primaryColor
$modebarFillActiveHoverColor = $lightOrange

// container (graph tools tabs) colors
$graphTitleTextColor = $lightPurple
$containerBackgroundColor = $whitePurple

// Nav colors
$navItemHoverColor = $white

// Notifier colors
$notifierBackgroundColor = $secondaryColor
$notifierBorderColor = $primaryColor
$notifierTextColor = $white
$notifierCloseTextColor = $primaryColor

// Sliders colors
$sliderBackgroundColor = rgba($lightOrange, 0.4)
$sliderBorderColor = $lightOrange
$sliderTextColoractive = $primaryColor
$sliderTextColor = $lightPurple
$sliderRailBackground = $whitePurple

// Specific colors
$embeddedImgBordercolor = $purpleGrey
$paperBackgroundColor = $whitePurple
