// Global colors
$orange = #fc5b26
$lightOrange = #FF7240
$purple = #2B1D46
$lightPurple = #3b3558
$greyPurple = #5d5a85
$purpleGrey = #9491ad
$blueGrey = #c9c8d6
$lightGrey = #fdfdfd
$whitePurple = #f4f4f7
$white = #FFFFFF

// Theme colors
$primaryColor = $orange
$secondaryColor = $purple


// Body colors
$bodyBackgroundColor = linear-gradient(270deg, #A22257 0%, #2B1D46 100%)
$bodySelectionBackgroundColor = $greyPurplePurple
$contentBackgroundColor = $white

// Texts colors
$inkTextColor = $purple
$secondaryTextColor = $greyPurple
$placeholderTextColor = $purpleGrey
$disabledTextColor = $blueGrey
$introTextColor = $purpleGrey

// Texts borders colors
$introBorderLeftColor = $blueGrey
$blockquoteBorderLeftColor = $blueGrey
$conclusionBorderLeftColor = $primaryColor


// Action colors
$linkTextColor = $greyPurple
$actionColor = $lightOrange

//Borders
$borderColor = $blueGrey
$borderColorHover = $purpleGrey
$borderColorFocus = $purple
$borderColorDisabled = $whitePurple

// Tools & tabs colors container
$toolsBorderBottomColor = $white
$toolsBoxShadowColor = rgba($purple, 0.05)

// Tabs colors
$tabsTextColor = $greyPurple
$tabsHoverTextColor = $secondaryColor
$tabsBorderColor = $blueGrey
$tabsSelectedBorderColor = $primaryColor
$tabsSelectedColor = $primaryColor

// Table colors
$tableBorderColor = rgba($borderColor, 0.5)
$tableBackgroundColor = $white
$rowBackgroundHoverColor = rgba($whitePurple, 0.5)
$headerBackgroundColor = rgba($whitePurple, 0.5)
$sortIconColor = $greyPurple
$sortIconActiveColor = $lightOrange


// Footer colors
$footerTextColor = $blueGrey

// Code colors
$codeTextColor = $greyPurple
$codeBackgroundColor = $whitePurple

// Button colors
$buttonTextColor = $inkTextColor

$buttonBackgroundColor = $whitePurple
$buttonBorderColor = $blueGrey
$buttonDisabledColor = $blueGrey
$buttonBackgroundHoverColor = rgba($primaryColor, 0.05)
$buttonBackgroundActiveColor = rgba($primaryColor, 0.1)
$buttonBackgroundFocusColor = $lightOrange
$buttonBorderEnabledColor = $primaryColor

$buttonSecondaryBackgroundColor = $lightOrange
$buttonSecondaryBorderColor = $orange
$buttonDisabledSecondaryColor = $whitePurple
$buttonSecondaryBackgroundHoverColor = #f86246 // blend light orange with itself at 20% opacity
$buttonSecondaryBackgroundActiveColor = #f1534c // blend light orange with itself at 40% opacity
$buttonSecondaryBackgroundFocusColor = #DD255F

// Modebar colors
$modebarFillColor = $secondaryColor
$modebarFillHoverColor = $lightPurple
$modebarFillActiveColor = $primaryColor
$modebarFillActiveHoverColor = $lightOrange

// container (graph tools tabs) colors
$graphTitleTextColor = $lightPurple
$containerBackgroundColor = $whitePurple

// Nav colors
$navItemHoverColor = $white

// Notifier colors
$notifierBackgroundColor = rgba(43,29,70,0.9)
$notifierTextColor = $white
$notifierCloseTextColor = $white

// Sliders colors
$sliderBackgroundColor = rgba($lightOrange, 0.4)
$sliderBorderColor = $lightOrange
$sliderTextColoractive = $primaryColor
$sliderTextColor = $lightPurple
$sliderRailBackground = $whitePurple

$sliderBackgroundDisabledColor = $blueGrey
$sliderBorderDisabledColor = $blueGrey
$sliderTextDisabledColor = $blueGrey
$sliderRailDisabledBackground = $whitePurple

// Specific colors
$embeddedImgBordercolor = $purpleGrey
$paperBackgroundColor = $whitePurple
