// Global colors
$orange = #fc5b26
$lightOrange = #FF7240
$purple = #2B1D46
$lightPurple = #3b3558
$greyPurple = #5d5a85
$purpleGrey = #9491ad
$blueGrey = #c9c8d6
$whitePurple = #f4f4f7
$white = #FFFFFF

// Theme colors
$primaryColor = $orange
$secondaryColor = $purple


// Body colors
$bodyBackgroundColor = $secondaryColor
$bodySelectionBackgroundColor = $greyPurplePurple
$contentBackgroundColor = $white

// Texts colors
$inkTextColor = $purple
$secondaryTextColor = $greyPurple
$placeholderTextColor = $purpleGrey
$disabledTextColor = $blueGrey

// Texts borders colors
$introBorderLeftColor = $blueGrey
$blockquoteBorderLeftColor = $blueGrey
$conclusionBorderLeftColor = $primaryColor


// Action colors
$linkTextColor = $greyPurple
$actionColor = $lightOrange

//Borders
$borderColor = $blueGrey
$borderColorHover = $purpleGrey
$borderColorFocus = $purple
$borderColorDisabled = $whitePurple

// Tools & tabs colors container
$toolsBorderBottomColor = $white
$toolsBoxShadowColor = rgba($purple, 0.05)

// Tabs colors
$tabsTextColor = $lightPurple
$tabsHoverTextColor = $secondaryColor
$tabsBoxShadowColor = rgba($purple, 0.05)
$tabsSelectedBorderColor = $primaryColor
$tabsSelectedColor = $primaryColor

// Table colors
$tableBorderColor = $borderColor


// Footer colors
$footerTextColor = $blueGrey

// Blockquote colors
$blockquoteBackgroundColor = rgba($whitePurple, .5)
$blockquotePagragraphBackgroundColor = $greyPurplePurple

// Code colors
$codeTextColor = $greyPurple
$codeBackgroundColor = $whitePurple

// Button colors
$buttonBorderColor = $lightOrange
$buttonTextColor = $primaryColor

// Modebar colors
$modebarFillColor = $secondaryColor
$modebarFillHoverColor = $lightPurple
$modebarFillActiveColor = $primaryColor
$modebarFillActiveHoverColor = $lightOrange

// container (graph tools tabs) colors
$graphTitleTextColor = $lightPurple
$containerBackgroundColor = $whitePurple

// Nav colors
$navItemHoverColor = $white

// Notifier colors
$notifierBackgroundColor = $secondaryColor
$notifierBorderColor = $primaryColor
$notifierTextColor = $white
$notifierCloseTextColor = $primaryColor

// Sliders colors
$sliderBackgroundColor = rgba($lightOrange, 0.4)
$sliderBorderColor = $lightOrange
$sliderTextColoractive = $primaryColor
$sliderTextColor = $lightPurple
$sliderRailBackground = $whitePurple

$sliderBackgroundDisabledColor = $blueGrey
$sliderBorderDisabledColor = $blueGrey
$sliderTextDisabledColor = $blueGrey
$sliderRailDisabledBackground = $whitePurple

// Specific colors
$embeddedImgBordercolor = $purpleGrey
$paperBackgroundColor = $whitePurple
